body {
  background-color: #a4df69;
}

h2 {
  color: white;
}

form {
  background-color: white;
  border-color: white;
  border-radius: 10px;
}

fieldset {
  border-radius: 10px;
  border: none;
}

span {
  display: inline-block;
  color: red;
}

